* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;


}

a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;

}

.parallax {
    background-image: url("../image/parralex/background_image.webp");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    min-height: 500px;
}

.parallax_title {
    text-align: center;
    font-size: 30px;
}

.parallax_para {
    font-size: 15px;
}


/* featured-product */
.featured-product-img {
    overflow: hidden;
}

.featured-product-img img {
    width: 100%;
    height: 150%;
    transition: 0.5s ease;
}

.featured-product-img img:hover {
    transform: scale(1.3);
}

/* featured-product */
.ProInfoBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: calc(100% - 20px);
    padding: 16px 10px;
    background-image: -moz-linear-gradient(90deg, rgb(248, 248, 248) 0%, rgb(252, 252, 252) 39%, rgb(255, 255, 255) 99%);
    background-image: -webkit-linear-gradient(90deg, rgb(248, 248, 248) 0%, rgb(252, 252, 252) 39%, rgb(255, 255, 255) 99%);
}

.new-arrival-img {
    overflow: hidden;
}

.new-arrival-img img {
    transition: 0.5s ease;
}

.new-arrival-img img:hover {
    transform: scale(1.1);
}

.product-small-img img {
    height: 77px;
    cursor: pointer;
    display: block;
    margin-inline: 8px;

}


/* Explore Our Work */
.our-work-head {
    margin-left: 41px;
    margin-top: -11rem;
    width: 24rem;
    position: absolute;
}


/* testimonials */
.testi-bg-image {
    background-image: url("https://www.zandscarpets.com/images/common-contents/testimonial_bg_image.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testi-img img {
    object-fit: cover;
}


.countries {
    font-size: 20px;
}

.countries span {
    margin: 10px;
    color: #023260;
}


.looking-bg-image {
    background-image: url("https://www.zandscarpets.com/assets/images/BGMap.png");
    width: 100%;
}


.parallax-export {
    background-image: url("https://www.zandscarpets.com/assets/images/SeoSec.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 500px;
}



/* product-section */
.product-banner-bg-img {
    background-image: url("https://www.zandscarpets.com/images/products/banner_imagec05Wdzk5dUZlSm0yOUY1ckdWT0Z1dz09.jpg");
    background-position: center;
    min-height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
}


.product-banner-head {
    margin-top: 170px;
}

.landscaping-product {
    background: #023260 !important;
    color: #fff !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    padding: 10px 22px !important;
    min-height: 45px;
}

.product-accordion li {
    line-height: 30px;

}

.product-accordion a {
    line-height: 35px;
    font-size: 14px;
    color: #5d5d5d;
}

.data-product {
    background: #ffffff !important;
    color: #000000 !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    padding: 10px 22px !important;
    min-height: 45px;
    width: 163%;
}


.OurSpecialities li, .txt {
    font-size: 12px;
    color: #1a1a1a;
    font-weight: 600;
}











/* footer */

.label {
    color: #fff;
    margin-bottom: 10px;
    font-size: 14px;
}

.followul {
    display: flex;

}

.followul li {
    justify-content: space-around;

}

.followul a {
    color: #FFFFFF;

}

.footHead {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact {
    margin-top: 70px;
}


.footHead {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;

}

.footLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);

}


.productsLink {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}